*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw  8vw;
    align-items: center;
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.15);
    

}
nav img{
    width: 100px;
    cursor: pointer;    
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}   
nav .navigation ul  li{
    list-style: none;
    margin-left:    100px;
}
nav .navigation ul  li  a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(0,0,0,.6);
    font-weight: 600;
    transition: 0.3 ease;
}
nav .navigation ul  li  a:hover{
    color:#ff5e14;
}

#home{
    background-image: url(seeklightt.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:center ;
    PADDING-TOP: 150PX;
    PADDING-LEFT: 150PX;
    flex-direction: column;
}
#home h3{
    color: white;
    font-size: 5.2rem;
    letter-spacing: 1px;
    padding-right: 85px;
}

#home p{
    width: 50%;
    font-size: 0.9rem;
    line-height: 25px;
    color: white;
}
#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px  35px;
    background-color:white ;
    font-weight: 600;
    border-radius: 5px;
}
#home   .btn{
    margin-top: 30px;
}

#home   a.blue{
    color: white;
    background-color: #ff5e14;
    transition: 0.3s  ease;
}

#home   a.blue:hover{
    color: #ff5e14;
    background-color: white;
}

#home   a.black{
        background: 0 0;
        border: 1px solid #ddd;
    transition: 0.3s  ease;
    color: white;

}

#home   a.black:hover{
    color: #ff5e14;
    background-color: white;
}

#feature{
    padding: 14vw  8vw  5vw  8vw;
    text-align: center;
    color: rgb(44, 46, 59);

}
#feature  .lang  .box  .h2{
   text-align: start;
   

}
#feature .lang{
    display: flex;
    justify-content: space-between;
    
    
}
#feature  h1{
    
        margin: 0;
        color: #012237;
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 123px;
        margin-top: -75px;
    
    
}
.box{
 width: 300px;
height: 430px;
background: #FFF;
border-radius: 6px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.box:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.5);
  }

.benefits{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits   .text{
   
    padding: 105px 0;
    padding-left: 70px;
  
}

.benefits  p{
    
        font-size: 16px;
        line-height: 34px;
        color: #81868a;
        font-weight: 600;
        margin: 0;
        margin-bottom: 60px;
        margin-top: 40px;
    
}
.benefits   h2{
        
    
        margin: 0;
        color: #012237;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: -15px;
        margin-top: -15px;
    
}
.test{
    margin: 100px;
}
#footer{
    background-color: rgb(255, 30, 0);
}
#footer h1{
    color: white;
}
footer{
    padding: 8.3vw;
    background-color:#000000 ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer .footer-courses{
    padding-bottom: 40px;
}

footer  h3{
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
}
footer  li{
    list-style: none;
    color: wheat;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
}
i{
    
    color: white;
        font-size: 2em;
        padding: 20px;
    
}
i:hover{
    color: orange;
}
footer  p{
    
        width: 50%;
        font-size: 0.9rem;
        line-height: 25px;
        color: white;   
        padding-bottom: 20PX;
        
}
footer  a.blue{
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}